{
  "DHT": {
    "type": "22",
    "pin": 4
  },
  "ThingSpeak": {
    "channel-id": "324881",
    "write-key": "6ZVXAQ1OTPZGFL4J",
    "timeout": 3
  },
  "Relay": {
    "pin": 17
  },
  "Display": {
    "font": "/home/pi/temp/LeagueGothic-Regular.otf"
  }
}
